*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.body{
    display: flex;
    flex-direction: column;
}


.header{
    width: 100%;
    height: 40px;
    background-color: rgba(143, 15, 143, 0.801);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h2l{
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    
    flex-direction: row;
    font-size: 10px;
    color: #fff;
}

.h2r{
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
   
    flex-direction: row;
    color: #fff;
    font-weight: bolder;
    z-index: 0;
}

.h-icon{
    position: relative;
    top: 5px;
    right: 5px;
}

.mid{
    width: 100%;
    height: 100px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
    
}

.mid-L{
    height: 100%;
    width: 38%;
    align-items: center;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 38px;
   
    padding:45px;
}

.mid-R{
    height: 100%;
    width: 38%;
    align-items: center;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 38px;
   
    padding:45px;
}

.cakery{
    margin-top: 43px;
    z-index: 2;
}

.w-section{
    width: 100%;
    height: 850px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    padding: 60px;
}

.top{
    width: 100%;
    height: 80px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text{
    color: rgb(80, 18, 18)
}

.button{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(80, 18, 18);
    width: 200px;
    height: 40px;
    border: solid rgba(128, 128, 128, 0.288);
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.w-body{
    width: 100%;
    height: 605px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.a{
    width: 285px;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.a1{
    width: 100%;
    height: 290px;
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid rgba(128, 128, 128, 0.288);
    border-width: 1px;
}

.pastry{
    width: 200px;
    height: 200px;
    margin-left: 40px;
}

.txt{
    color: rgb(180, 60, 180);
    font-weight: 700;
    padding-left: 40px;
}

.num{
    color: rgb(80, 18, 18);
    padding-left: 40px;
}


.footer{
    width: 100%;
    height: 400px;
    background-color:  rgb(180, 60, 180);
    margin-top: 40px;
}

.top-footer{
    width: 100%;
    height: 70%;
    
    display: flex;
    padding: 40px;
}

.footer1{
    width: 32%;
    height: 100%;
   
}

.footer2{
    width: 32%;
    height: 100%;
    margin-left: 20px;
  
}

.footer3{
    width: 32%;
    height: 100%;
  
}

.footer-head{
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px; 
    color: rgb(78, 8, 78);
}

.footer-body{
    font-size: 20px;
    color: #fff;
    padding-top: 15px;
}

.footer-body2{
   
    margin-top: 20px;
    color: #fff;
   
}

.fb2{
    font-size: 20px;
    padding-left: 20px;
    color: #fff;
    font-weight: lighter;
}

.line{
    background-color: black;
    width: 90%;
    height: 1px;
    margin-left: 80px;
}

.bottom-footer{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-top: 30px;
}

.bficons{
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: space-between;
   
    margin-left: 80px;
}



.bftext{
    height: 100%;
    width: 130px;

    margin-right: 80px;
}

.bftextt{
    color: #fff;
    width: 200px;
}