* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pic1 {
    width: 35px;
}

.pic {
    width: 100px;
}

.navs {
    display: flex;
    justify-content: center;
    align-items: center;
}


.navs > div {
    margin: 70px;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
}



