*{
    padding: 0px;
    margin: 0px;
}

.body{
    height: 100vh;
    width: 100%;
    background-color: grey;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.left{
    height: 100%;
    width: 68%;
   
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.lefttop{
    height: 64%;
    width: 100%;
    background-color: green;

}

.leftbottom{
    height: 34%;
    width: 100%;
   
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.lb1{
    height: 100%;
    width: 33%;
    background-color: red;
}

.lb2{
    height: 100%;
    width: 33%;
    background-color: red;
}

.lb3{
    height: 100%;
    width: 33%;
    background-color: red;
}

.right{
    height: 100%;
    width: 31%;
   
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.rightL{
    height: 100%;
    width: 49%;
   
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.rightl1{
    width: 100%;
    height: 33%;
    background-color: red;
}

.rightl2{
    width: 100%;
    height: 33%;
    background-color: red;
}

.rightl3{
    width: 100%;
    height: 33%;
    background-color: red;
}

.rightR{
    height: 100%;
    width: 49%;
   
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.rightR1{
    width: 100%;
    height: 33%;
    background-color: red;
}

.rightR2{
    width: 100%;
    height: 33%;
    background-color: red;
}

.rightR3{
    width: 100%;
    height: 33%;
    background-color: red;
}